.profile{
    @include header-font();
    display: flex;

    color: $black;
    font-weight: bold;

    & img{
        margin-left: 16px;
        border-radius: 50%;
        user-select: none;
    }

    & img:hover{
        transform: scale(1.2);
        cursor: pointer;

    }
}

@media (max-width: 750px) {
    .profile p{
        display: none;
    }

}

@media (max-width: 600px) {
    .profile p{
        display: none;
    }

    .profile img{
        margin-left: 0px;
        width: 32px;
        height: 32px;

        margin-top: 8px;
    }
}