.notify{
    @include clear-list();
    display: flex;
    margin-top: 15px;
    user-select: none;

    li{
        margin-right: 30px;
        cursor: pointer;
    }    
}

li.bell{
    position: relative;

    margin-right: 60px;
    &::after{
        @include after();
        top: -1px;
        left: 14px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $pink;
    }
}

.msg:hover path,
.msg:focus path,
.msg:active path{
    fill: #344F6A;;
}

.bell:hover path,
.bell:active path,
.bell:focus path{
    fill: #344F6A;;
}

@media (max-width: 750px) {
    .notify li{
        margin-right: 15px;
    }

    li.bell{
        margin-right: 20px;
    }
}

@media (max-width: 600px) {
    .bell svg{
        width: 16px;
        height: 16px;
        margin-top: 2px;
    }

    .msg{
        width: 16px;
        height: 16px;
        margin-top: 1px;
    }

    

    li.bell::after{
        top: 0px;
        left: 12px;
        width: 5px;
        height: 5px;
    }

    .notify li{
        margin-right: 12px;
    }
}
