.logo{
    display:flex;
}
.inspireText{
    margin-left: 65px;
    margin-top: 20px;
    width: 280px;
    @include header-font();
}

@media (max-width: 1050px) {
    .inspireText{
        display: none;
    }
}