.app{
    margin-left: 65px;
    margin-right: 65px;
}

@media (min-width: 1920px) {
    .app{
        width: 1920px;
        margin: 0 auto;
    }

}

@media (max-width: 600px) {
    .app{
        margin-left: 0px;
        margin-right: 0px;
    }

    .header{
        margin-left: 16px;
        margin-right: 16px;
    }
}