@import "./fonts.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.5s;
}

body{
    font-family: "Codec Pro","Arial",sans-serif;
    font-size: 14px;
    font-weight: 300;
    transition: 0.4s;
}

.active{
  color: $blue !important;
}