@font-face{

    font-family: 'Codec Pro';

    src: url('../fonts/CodecPro-Regular.woff2');

    font-weight: 400;
    font-style: normal;
    
}


@font-face{

    font-family: 'Codec Pro';

    src: url('../fonts/CodecPro-Bold.woff2');

    font-weight: 700;
    font-style: bold;
    
}

@font-face{

    font-family: 'Codec Pro';
    
    src: url('../fonts/CodecPro-Light.woff2');
    
    font-weight: 300;
    font-style: normal;
}
    